body, html {
    font-family: -apple-system, "San Francisco Text", "SF UI Text", BlinkMacSystemFont, Roboto, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #95989A;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #95989A;
    padding: 1rem;
    margin-bottom: 1rem;
}

.container > p {
    font-variant: caps;
    color: #95989A;
    margin: 1rem 1.5rem;
}

.timer .button {
    font-size: 20px;
}

.subject .button {
    font-size: 15px;
}

.flex-group {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.button-container {
    max-width: 92px;
    margin: 0.5rem;
}

.button-container input {
    width: 92px;
    margin: 0;
    text-align: center;
    border: none;
    font-size: 15px;
}

.button {
    color: #FFF;
    display: inline-block;
    border-radius: 8px;
    width: 92px;
    height: 92px;
    text-align: center;
}

.button img {
    width: 54px;
    height: 54px;
    margin: 6px auto;
}

.timer .button img {
    width: 35px;
    height: 35px;
    margin: 12px auto;
}

.button p {
    color: #FFF;
    margin: auto;
}

.button.green {
    background-color: #34C144;
}

.button.blue {
    background-color: #3475C1;
}

.button.red {
    background-color: #C13434;
}

.button.purple {
    background-color: #A634C1;
}
