<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
        maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Time Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="apple-touch-icon" href="{{ url_for('static',
        filename='images/apple-touch-icon-114x114-precomposed.png') }}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static',
        filename='images/icon-120.png') }}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static,
        filename='images/icon-180.png') }}">
        <meta name="apple-mobile-web-app-title" content="Time Tracker">
    </head>
    <body>
        <div class="timer container">
            <p>WORK TIMER</p>
            <div class="flex-group">
                <form class="button-container" action="{{ url_for('start_timer') }}" method="POST">
                <button class="button green">
                    <img src="{{ url_for('static', filename='images/start.svg') }}"
                    alt="start triangle icon">
                    <p>Start</p>
                </button>
                </form>
                <form class="button-container" action="{{ url_for('stop_timer') }}" method="POST">
                <button class="button red">
                    <img src="{{ url_for('static', filename='images/stop.svg') }}"
                    alt="stop square icon">
                    <p>Stop</p>
                </button>
                </form>
            </div>
        </div>
        <div class="subject container">
            <p>SUBJECT LOGGERS</p>
            <div class="flex-group">
                {% for subject in subjects %}
                <form class="button-container" action="{{ url_for('log_subject') }}"
                    method="POST">
                <button class="button {{ subject.color }}">
                    <img src="{{ url_for('static', filename='images/' +
                    subject.icon) }}" alt="subject icon">
                    <p>{{ subject.shortname }}</p>
                </button>
                <input type="number" name="minutes-worked" value="40">
                <input type="text" name="subject" value="{{ subject.name }}" hidden>
                </form>
                {% endfor %}
                <form class="button-container" action="{{ url_for('log_subject')
                }}" method="POST">
                    <button class="button purple">
                        <img src="{{ url_for('static',
                        filename='images/stop.svg') }}" alt="subject icon">
                        <p>Other</p>
                    </button>
                    <input type="number" name="minutes-worked" value="40">
                    <input type="text" name="subject" placeholder="Subject">
                </form>
            </div>
        </div>
    </body>
</html>
