<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Time Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="timer container">
            <p>Work Timer</p>
            <a href="" class="start button">
                <img src="{{ url_for('static', filename='images/start.svg') }}"
                alt="start triangle icon">
                <p>Start</p>
            </a>
            <a href="" class="stop button">
                <img src="{{ url_for('static', filename='images/stop.svg') }}"
                alt="stop square icon">
                <p>Stop</p>
            </a>
        </div>
        <div class="subject container">
            {% for subject in subjects %}
            <a href="{{ subject.link }}" class="button {{ subject.color }}">
                <img src="{{ url_for('static', filename='images/' + subject.icon
                ) }}" alt="subject icon">
                <p>{{ subject.shortname }}</p>
            </a>
            {% endfor %}
        </div>
    </body>
</html>
