<!DOCTYPE html5>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1,
        maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <title>Time Tracker</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="timer container">
            <p>WORK TIMER</p>
            <div class="flex-group">
                <a href="" class="button green">
                    <img src="{{ url_for('static', filename='images/start.svg') }}"
                    alt="start triangle icon">
                    <p>Start</p>
                </a>
                <a href="" class="button red">
                    <img src="{{ url_for('static', filename='images/stop.svg') }}"
                    alt="stop square icon">
                    <p>Stop</p>
                </a>
            </div>
        </div>
        <div class="subject container">
            <p>SUBJECT LOGGERS</p>
            <div class="flex-group">
                {% for subject in subjects %}
                <div class="button-container">
                <a href="{{ subject.link }}" class="button {{ subject.color }}">
                    <img src="{{ url_for('static', filename='images/' +
                    subject.icon) }}" alt="subject icon">
                    <p>{{ subject.shortname }}</p>
                </a>
                <input type="number" name="minutes-worked" value="40">
                <input type="text" name="subject" value="{{ subject.name }}" hidden>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
